<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>213818639473-rcldbvq8bh24a0a24o0oqmgtmmn83aq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213818639473-rcldbvq8bh24a0a24o0oqmgtmmn83aq5</string>
	<key>API_KEY</key>
	<string>AIzaSyDtciezLOkI_nS9SP4AMsJo8jvqgFn7HrE</string>
	<key>GCM_SENDER_ID</key>
	<string>213818639473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cap.CafeApp2</string>
	<key>PROJECT_ID</key>
	<string>fir-cafeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cafeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213818639473:ios:01bcaf0ba2c8137b</string>
	<key>DATABASE_URL</key>
	<string>https://fir-cafeapp.firebaseio.com</string>
</dict>
</plist>